body {
  font-family: "Open Sans", sans-serif;
}

.card-title {
  font: 500 1.25rem "Lobster", cursive;
}

.card-img-overlay .card-title {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  text-align: center;
}